{% for post in blog_posts.items %}
    <div class="card border-light">
        <div class="card-body">
            <h4><a class="card-title text-info" href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">{{post.title}}</a></h4>
            <p class="text-secondary mb-1">Written by: <a class="text-info" href="{{url_for('users.user_posts',username=post.author.username)}}">{{post.author.username}}</a></p>
            <p class="text-secondary">Published on: {{post.date.strftime("%H:%M:%S, %Y-%m-%d")}}</p>
            {% set num_char = 310 %}
            <p class="font-weight-light">{{post.text[:num_char]}}
                {% if post.text|length > num_char %}
                    <a class="text-info" href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}"> ...more</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endfor %}