<div class="row  mb-3">
    <div class="col-sm-2">
            
    </div>

    <div class="col-sm-8 shadow-sm pl-0 pr-0 bg-white">
        <div class="container">
            <form class="form-group row justify-content-center mt-2 mb-2" method="POST">
                {{form_search.hidden_tag()}}
                {{form_search.search(class="form-control col-9 mr-3", placeholder="Search")}}
                {{form_search.submit(class="btn btn-rounded col-2 btn-info text-center")}}
            </form> 
        </div>
    </div>

    <div class="col-sm-2">

    </div>
</div>