{% extends "base.html" %}

{% block content %}

<div class="container">

        <h1 class="text-center mb-4 mt-4 text-secondary">Account</h1>
        <div class="row align-items-center justify-content-center shadow mt-4 pt-3 bg-white">
            <div class="col-md-3">
                {% include '/snippets/current_user_profile_lg.html'%}
            </div>    

            <div class="col-md-9">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        {{form.username.label(class="form-group")}}
                        {{form.username(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.email.label(class="form-group")}}
                        {{form.email(class="form-control")}}
                    </div>
                    <div class="form-group">
                        {{form.picture.label(class="form-group")}}
                        {{form.picture(class="form-control")}}
                    </div>
                    <div class="form-group text-center">
                        {{form.submit(class="btn btn-info")}}
                    </div>
                </form>
            </div>
        </div>
</div>

{% endblock %}