{% extends "base.html" %}

{% block content %}

<div class="container mt-2">

    {% include 'snippets/search_bar.html'%}

    <div class="row justify-content-md-center">

        <div class="col-sm-2">
            Keywords
        </div>

        <div class="col-sm-8 shadow pl-0 pr-0">

            {% include 'snippets/blog_posts_cards.html' %}   
            {% include 'page_navigation/blog_posts_search.html' %}

        </div>

        <div class="col-sm-2">
            {% if current_user.is_authenticated %}
                {% include 'snippets/user_profile_sm.html'%}
                {% include 'snippets/navbar_user.html'%}
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}